.adding_form{
    background: #414141;
    width: 500px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: self-end;
    padding: 20px;
    justify-content: space-around;
    border-radius: 10px;
}
.adding_form > label{
    background: #414141;
    position: relative;
    margin: 20px 20px 20px 20px;
    padding: 20px;
    margin-right: 20px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
.adding_form > button{
        height: 40px;
        background: yellow;
        border: none;
        width: 70px;
        border-radius: 5px;
}
.adding_form > label > input{
    border: none;
    width: 250px;
    height: 40px;
    background: none;
    background: #414141;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: 3px  solid rgb(72, 72, 72);
    color: whitesmoke;
    font-size: 22px;
    padding: 0;
}
.adding_form > h2{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    background: #414141;
    margin-right: 25%;
}
